# Introduction to Data Science
## Homework 2

Student Name: Jieyu Wang

Student Netid: Jw4937
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

As a statistician in Target, Andrew Dole was asked to predict whether a woman is pregnant or not. Pregrancy information can provide useful information for Target to recommend goods for certain group. This problem can be solved by first observing pregnant women's purchase behaviors. For example, pregnant mothers usually have a unique dietary structure, prepare toys and diapers for their future babies and buy special nourishment (a certain vitamin, for example).  Then we can store a women's pregnancy and her purchasing patterns in a dataset and divide it to two datasets: one for training purpose and one for testing purpose. After we training predictive models (decision tree or logistic regression model, for example),  we can use our test dataset to test the predictive model's accuracy. With an effective predictive model, we can predict a women's pregnant information by inputting her purchase behavior to our predictive model.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int`, `int`, `string`, and `int` respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell in your terminal and then just paste your answers here. Recall that once you enter the "!" then filename completion should work. Also, these are standard data exploration commands that are quick and easy to use in a terminal or in the notebook. We don't cover command line operations formally in this class, but these are worth learning (and thus are part of the HW). Be resourceful. Use whatever online cheat sheets or Stackoverflow to answer the question.]

1\. How many records (lines) are in this file (look up wc)?

In [1]:
!wc -l advertising_events.csv

   10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [4]:
!cut -d',' -f 1 advertising_events.csv|sort|uniq|wc -l

     732

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [3]:
!cut -d',' -f 3 advertising_events.csv|sort|uniq -c|sort -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [5]:
!grep -w '37' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [2]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [6]:
ads=pd.read_csv('/Users/jieyuwang/Downloads/ads_dataset.tsv', delim_whitespace=True)
ads.head(5)

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
0,0,NaN,1,0.0,0.0,0.0,0.0000,106,106,0,0,169,2130,0
1,0,NaN,1,0.0,0.0,0.0,0.0000,72,72,0,0,154,1100,0
2,0,NaN,1,0.0,0.0,0.0,0.0000,5,5,0,0,4,12,0
3,0,NaN,1,0.0,0.0,0.0,0.0000,6,6,0,0,150,539,0
4,0,NaN,2,0.0,0.5,0.0,-101.1493,101,101,0,1,103,362,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [16]:
a=[];
for index, value in ads.iteritems():
    a.append(value.nunique())
pd.Series(a)

0         2
1        10
2        64
3       295
4      5886
5       348
6     15135
7       189
8       189
9         2
10        2
11      207
12     4628
13        2
dtype: int64

In [33]:
def getDfSummary(input_data):
    # Place your code here
    output_data=input_data.describe();
    output_data=output_data.reindex(["count","mean", "max", "min", "std", "25%", "50%", "75%"])
    output_data=output_data.rename(index={"count": 'number_nan'})
    a=[];
    for index, value in input_data.iteritems():
        a.append(value.nunique())
    output_data=output_data.transpose()
    output_data["number_distinct"]=pd.Series(a, index=output_data.index)
#     for index, row in output_data.iterrows():
#         print (input_data.shape[0]-row["number_nan"]);
#         row["number_nan"]=input_data.shape[0]-row["number_nan"];
        #print (input_data.shape[0])
    output_data["number_nan"]=input_data.shape[0]-output_data["number_nan"]
    return output_data
getDfSummary(ads)

,number_nan,mean,max,min,std,25%,50%,75%,number_distinct
isbuyer,0.0,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000,2
buy_freq,52257.0,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000,10
visit_freq,0.0,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000,64
buy_interval,0.0,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000,295
sv_interval,0.0,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167,5886
expected_time_buy,0.0,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000,348
expected_time_visit,0.0,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000,15135
last_buy,0.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000,189
last_visit,0.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000,189
multiple_buy,0.0,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000,2
multiple_visit,0.0,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000,2
uniq_urls,0.0,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000,207
num_checkins,0.0,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000,4628
y_buy,0.0,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000,2

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [29]:
%timeit getDfSummary(ads)

10 loops, best of 3: 35 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [ ]:
# The row "buy_freq" contains NaN values.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [35]:
ads[ads["buy_freq"].isnull()].describe()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,52257.0,0.0,52257.000000,52257.0,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.000000
mean,0.0,NaN,1.651549,0.0,5.686388,0.0,-9.669298,65.741317,65.741317,0.0,0.255602,86.656180,721.848518,0.003024
std,0.0,NaN,2.147955,0.0,17.623555,0.0,31.239030,53.484622,53.484622,0.0,0.436203,61.996711,1284.504018,0.054904
min,0.0,NaN,1.000000,0.0,0.000000,0.0,-187.615600,0.000000,0.000000,0.0,0.000000,-1.000000,1.000000,0.000000
25%,0.0,NaN,1.000000,0.0,0.000000,0.0,0.000000,19.000000,19.000000,0.0,0.000000,30.000000,126.000000,0.000000
50%,0.0,NaN,1.000000,0.0,0.000000,0.0,0.000000,52.000000,52.000000,0.0,0.000000,75.000000,318.000000,0.000000
75%,0.0,NaN,2.000000,0.0,0.041667,0.0,0.000000,106.000000,106.000000,0.0,1.000000,155.000000,803.000000,0.000000
max,0.0,NaN,84.000000,0.0,184.916700,0.0,91.401920,188.000000,188.000000,0.0,1.000000,206.000000,37091.000000,1.000000

In [ ]:
isnull=ads[ads["buy_freq"].isnull()]["y_buy"]

In [52]:
# "isbuyer" column pridicts "buy_freq". If "isbuyer" is 0, then "buy_freq", "expected_time_buy", multiple_buy,  is missing. 
ads_wMV=ads;
ads_wMV["buy_freq"].fillna(0, inplace=True);
getDfSummary(ads_wMV)
# The feature distributions changes dramatically. The mean and min value of buy_freq drops a lot.

,number_nan,mean,max,min,std,25%,50%,75%
isbuyer,0.0,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,0.0,0.052891,15.00000,0.0000,0.298157,0.0,0.0,0.000000
visit_freq,0.0,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0.0,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0.0,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0.0,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0.0,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0.0,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0.0,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0.0,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0.0,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0.0,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

6\. Which variables are binary?

In [55]:
# isbuyer, multiple_buy, multiple_visit and y_buy